@page "/organigrama"
<br />
<button class="btn btn-outline-primary" @onclick="ComeBack"><FeatherArrowLeft Color="Blue"></FeatherArrowLeft></button>
<br />
<br />
<h1>Organigrama institucional</h1>
<p>Descripción organigrama (*)</p>
<hr />

@code{
    async Task ComeBack()
    {
        nav.NavigateTo("/administracion");
    }
}